// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
	background-color: black;
}
.wrapper {
	margin: 1.8vw;
	height: 100%;
}
h1 {
	color: white;
	font-family: "AGB", sans-serif;
	text-transform: uppercase;
	font-size: 1.5vw;
	margin: 0;
}
#title {
	font-size: 5.2vw;
	line-height: 5vw;
}
h2 {
	color: white;
	font-family: "AGB", sans-serif;
	font-size: 1.5vw;
	margin: 0;	
}
.bk:hover {
	color: black;
	cursor: pointer; 
	cursor: hand;
}
#landimg {
	width: 100%;
	margin-top: -1.3vw;
	margin-left: -1.1vw;
}
@keyframes blink {  
  50% { opacity: 0; }
}
.blink-text:hover {
  animation: blink 1s linear infinite;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
}
.hidden {
	visibility: hidden;
}
p {
	margin: 0;
	line-height: 1.9vw;
}