// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
	background-color: black;
}
html {
	transition: all 0.3s ease;
}
.wrapper {
	margin: 1.8vw;
	height: 100%;
}
h1 {
	color: white;
	font-family: "AGB", sans-serif;
	text-transform: uppercase;
	margin: 0;
}

#title {
	font-size: 8.8vw;
	line-height: 7vw;
	height: 5vw;
}
#infos {
	position: absolute;
	bottom: 11.1vw;
}
#contact {
	font-size: 7.3vw;
	line-height: 7vw;
	height: 5vw;
	position: fixed;
	bottom: 1.8vw;
}
#work {
	position: absolute;
	bottom: 5vw;
	width: 90vw;
	color: white;
	font-family: "AGB", sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
	margin: 0;
}
#foot {
	position: absolute;
	bottom: 1.8vw;
}
h2 {
	color: white;
	font-family: "AGB", sans-serif;
	font-size: 1vw;
	margin: 0;
	letter-spacing: 0.05em;	
}
h3 {
	color: white;
	font-family: "AG", sans-serif;
	font-size: 0.8vw;
	margin: 0;
	letter-spacing: 0.05em;	
}
.sub {
	margin-top: 0.8vw;
	margin-bottom: 0.8vw;
}
.bk:hover {
	color: rgb(15,15,15);
	cursor: pointer; 
	cursor: hand;
}

@keyframes blink {  
  50% { opacity: 0; }
}
.blink-text:hover {
  animation: blink 1s linear infinite;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
}
// .hidden {
// 	visibility: hidden;
// }

.filet {
	border-top: 0.1vw solid white;
	border-bottom: 0.1vw solid white
}



.marquee {
	width: 100%;
	height:120px;
	overflow: hidden;
	padding:0;
}
.marquee span {
	position:relative;
	padding: 0 140px 0 0;
	overflow:visible;
	white-space:nowrap;
}
.marquee span::before {
	position:absolute;
	top:20px;
	left:-110px;
	display:block;
	width:100px;
	height:48px;
	line-height:12px;
	font-size:12px;
	text-transform:uppercase;
	text-align:center;
	white-space:normal;
}
.marquee.prefix span::before {
	content:"Co-Founder Director Developer";
}