---
title: Digital Design & Development
---
<!-- <div class="banner" style="background-image: url('./images/landingboucle.gif');">
	
</div>
 -->
<div class="wrapper">
	<div class="x">
		<h1 class="c6 bk">Stanislas Wiart</h1>
		<h1 class="co1 c5 bk">Infos</h1>
	</div>
	<div class="x">
		<h1 class="c6 pt6" id="title">
		<img src="./images/landing.gif" id="landimg">
<!-- 		Digital Design
		<br>& <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "DEVELOPMENT", "FRONT-END", "BRANDING", "UI/UX" ]'></span>
     <br><span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "", "", "", "Send me a message" ]'></span> -->

		</h1>
		<h2 class="co1 c4 pt6">
			<p>
				73 rue Lamarck
				<br>75018 - Paris
				<br>+33(0)6.61.43.11.20.
				<br>stanislas.wiart@gmail.com			
			</p>
			<p class="pt6">
				<br>SOCIAL:
				<br>Github / Instagram / Arena
			</p>
			<p class="pt6">
				<br>SKILLS:
				<br>Photoshop, Illustrator, Indesign, 
				<br>After Effects, HTML5, CSS, JS, Ruby, Rails, Github
			</p>
			<p class="pt6">
				<br>SELECTED CLIENTS:
				<br>Sephora, Dior, LVMH, PPR, Kenzo, L’Oréal, AG2R, Danone, Renault, Vendôme, Yves Rocher
			</p>
		</h2>
	</div>


</div>