---
title: Digital Design & Development
---
<!-- <div class="banner" style="background-image: url('./images/landingboucle.gif');">
	
</div>
 -->
<div class="wrapper">
	<div class="x">
		<h1 class="c6">Stanislas Wiart</h1>
		<h1 class="co1 c5">About</h1>
	</div>
	<div class="x">
		<h1 class="c6 pt6" id="title">Digital Design</h1>
		<h2 class="co1 c4 pt6">73 rue Lamarck
			<br>75018 - Paris
			<br>+33(0)6.61.43.11.20.
			<br>stanislas.wiart@gmail.com</h2>
	</div>
		<h2 class="co7 c4 pt6">
			Social:
			<br>Github / Instagram / Arena
		</h2>
		<h2 class="co7 c4 pt6">
		Skills:
		<br>Photoshop, Illustrator, Indesign, After Effects, HTML5, CSS, JS, Ruby, Rails, Github
		</h2>
		<h2 class="co7 c4 pt6">
			Clients:
			<br>Sephora, Dior, LVMH, PPR, Kenzo, L’Oréal, AG2R, Danone, Renault, Vendôme, Yves Rocher
		</h2>

</div>